body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Spinnaker', sans-serif;
  font-weight: 700;
}

body{
  /* margin-top: 50px; */
}
.navbarBgColr{
  background-color: #37023B;
}

ul.dropdown-menu,
ul.dropdown-menu a{
  background-color: #37023B;
  padding-left: 5px;
  color: #fffff1;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../Images/Heaven-From-Top.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

.pageHeader{
  margin-bottom: 30px;
}

.whatWeDoSectionContainers1{
  padding: 80px 50px;
  background-color: white;
}

.whatWeDoSectionContainers2{
  padding: 80px 50px;
  background-color: #f0f0f0;
}

.whatWeDoContainers{
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
  color: #4c0080;
  /* color: white; */
  /* background-color: #f0f0f0; */
}

.whatWeDoContainerLeft{
  background: url(../Images/construction-contracts-and-law.jpg) no-repeat;
  background-size: auto;
  background-attachment:inherit;
  /* opacity: 0.6;
  filter: alpha(opacity=60);*/
   /* For IE8 and earlier */
}

.whatWeDoContainerRight{
  background: url(../Images/sound-x-blog-Build-the-Smart-Home-of-your-dreams.jpg) no-repeat;
  background-size: auto;
  background-attachment:inherit;
}

.whatWeDoContainerpic{
  /* padding: 15px; */
  max-width: 100%;
  height: auto;
}

#whatWeDoHeder{
  margin-bottom: 85px;
}

#whatWeDoInnerHeder{
  margin-bottom: 70px;
}

#propertiesSectionHeader{
  padding-top: 35px;
  padding-bottom: 55px;
}

#projectSectionHeader{
  padding-top: 85px;
  padding-bottom: 85px;
}

#customerCommentsSectionHeader{
  /*padding-top: 5px;*/
  padding-bottom: 100px;
}

.homeSectionPics{
  width: 334px;
  height: 360px;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section{
  padding: 30px 0;
  background-color: #f8f8f8;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
  /*background: url(../Images/purple-pattern--1920x1080.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background: rgb(0, 0, 0,0.1)*/
}

.content-section-a-container {
  padding-bottom: 75px;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
}

.carousel {
      height: auto;
}

.carousel-item {
    height: 95vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* #slider1{
  background: url('http://www.10stunninghomes.com/wp-content/uploads/Futuristic-House-Relaxing-Area-With-Stunning-Pool.jpg') no-repeat center center;
} */
.aboutPageHeaderLine{
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.content-section-c {
  padding: 50px 0;
}

.ashBgroundDiv{
  background-color: #f0f0f0;
  font-size: 49px;
}

.whiteBgroundDiv{
  font-size: 49px;
}

.mediumSizeFont{
  font-size: 28px;
  font-weight: bold;
}

.smallSizeFont{
  font-size: 19px;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width:320px) {
  .ashBgroundDiv{
    background-color: #f0f0f0;
    font-size: 29px;

  }
  .whiteBgroundDiv{
    font-size: 29px;
  }
}
@media (max-width:375px) {
  .ashBgroundDiv{
    background-color: #f0f0f0;
    font-size: 29px;

  }
  .whiteBgroundDiv{
    font-size: 29px;
  }
}
@media (max-width:768px) {
  .ashBgroundDiv{
    background-color: #f0f0f0;
    font-size: 42px;

  }
  .whiteBgroundDiv{
    font-size: 29px;
  }
}
@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}
@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 100px 0;
  /*color: #f8f8f8;*/
  /*background-color: #37023B;*/
}

/* Custom Horizontal Rule */
hr.small {
  max-width: 100px;
}

p.copyright {
  margin: 15px 0 0;
}

.darkPurpleText{
  color: #4c0080;
}

.fairPurpleText{
  color: #5c0099 /*#6010A1*/;
}

.lightPurpleText{
  color: #e09bff;
}

/* experiment div style */
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}
