html{
  width: 100%;
  height: 100%;
}
body, h1, h2, h3, h4, h5, h6 {
    /*padding-top: 54px;*/
    font-family: 'Spinnaker', sans-serif;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

body{
  margin-top: 50px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.navbar{
  background-color: #37023B;
}

header.masthead {
    background: url('https://s28.postimg.org/biikr7wzh/Heaven-_From-_Top.jpg') no-repeat center center scroll;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.content-section-b {
  padding-top: 20px;
  padding-bottom: 15px;
  border: 0;
}

.projectsHeader{
  padding-top: 85px;
  padding-bottom: 85px;
}

.LocationsPageHeader{
  padding-left: 25px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-right: 0px;
  color: white;
}

.locationPageHeadPic{
  background: url(../Images/2purple.jpg) no-repeat center center;
  background-size: contain;
  background-attachment: fixed;
  height: auto;
  width: 100%;
}
